<a href="https://colab.research.google.com/github/Sandy061/interntask/blob/main/Task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import load_iris
import numpy as np
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter("ignore")

In [3]:
df=pd.read_csv('IRIS.csv')
print(df)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
#checking for null values
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [10]:
# Prints the name of iris species from the predicted number
def decode(num):
	for i in num:
		if i==0:
			print("setosa")
		elif i==1:
			print("versicolor")
		else:
			print("virginica")

In [11]:
iris = load_iris()
test_ids = []

for i in range (0, 20):
	test_ids.append(i)
for i in range (50, 70):
	test_ids.append(i)
for i in range (100, 120):
	test_ids.append(i)

In [12]:
# Training data
train_data = np.delete(iris.data, test_ids, axis=0)
train_target = np.delete(iris.target, test_ids)

clf = tree.DecisionTreeClassifier()
clf.fit(train_data, train_target)

d1 = float(input("Enter sepal length : "))
d2 = float(input("Enter sepal width : "))
d3 = float(input("Enter petal length : "))
d4 = float(input("Enter petal width : "))

data = [d1, d2, d3, d4]
data=np.array([d1,d2,d3,d4])
print(data)
print(data.shape)
data= data.reshape(1, -1)
print (data)      # Produces: [[ 0.58  0.76]]
print (data.shape) # Produces (1, 2) meaning 1 row, 2 cols



decode(clf.predict(data))

Enter sepal length : 5.1
Enter sepal width : 3.5
Enter petal length : 1.4
Enter petal width : 0.2
[5.1 3.5 1.4 0.2]
(4,)
[[5.1 3.5 1.4 0.2]]
(1, 4)
setosa